.rounded-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.under_construct {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

